@page "/BracketW"
@using BlazorApp.Data
@using BlazorApp.Entities
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject IJSRuntime JS;
@inject FirestoreCacheService cache;

<PageTitle>Women's Bracket</PageTitle>

<MudGrid class="bracket-page">
	<MudItem xs="12">
		<MudGrid>
			<MudItem xs="12" md="2">
				<MudSelect style="background: #ffffff" Variant="Variant.Filled" Label="Stats to Use" @bind-Value="@StatOption" @onchange="StatOptionChanged">
					<MudSelectItem Value="@("Mathmatical")" />
					<MudSelectItem Value="@("Historical")" />
					<MudSelectItem Value="@("538 Odds")" />
					<MudSelectItem Value="@("Coin Flip")" />
					<MudSelectItem Value="@("Random")" />
				</MudSelect>
			</MudItem>
		</MudGrid>
		<MudGrid>
			<MudItem xs="6" md="1">
				<MudButton Variant="Variant.Filled" Size="Size.Large" FullWidth="true" @onclick="() => AutoFill()" Color="Color.Primary"><MudText>Auto-Fill</MudText></MudButton>
			</MudItem>
			<MudItem xs="6" md="1">
				<MudButton Variant="Variant.Filled" Size="Size.Large" FullWidth="true" @onclick="() => Clear()" Color="Color.Warning"><MudText>Clear</MudText></MudButton>
			</MudItem>
		</MudGrid>
	</MudItem>
	<MudItem xs="12">
	<div class="bracket-body">
		<h2 class="champion">Champion: @Champion</h2>
		<div class="bracket">
			@foreach(var regionalMatchup in RegionalMatchupGroups)
			{
			<div class="region @regionalMatchup.RegionalMatchupDetails.RegionalClass">
				@foreach(var matchupGroup in regionalMatchup.RegionalMatchupDetails.RegionalMatchups)
				{
					<ul class="matchup @matchupGroup.Matchup.MatchupClass">
						<li @onclick='(() => Winner(matchupGroup.Matchup,1))' class="team team-top">@matchupGroup.Matchup.Team1.Seed @matchupGroup.Matchup.Team1.Name</li>
						<li @onclick='(() => Winner(matchupGroup.Matchup,2))' class="team team-bottom">@matchupGroup.Matchup.Team2.Seed @matchupGroup.Matchup.Team2.Name</li>
					</ul>
				}
			</div>
			}
		</div>
	</div>
	</MudItem>
</MudGrid>

@code 
{
	private List<RegionalMatchupGroup> RegionalMatchupGroups = new();
	private List<StatDetails> HistoricalStats = new();
	private List<StatDetails> FiveThirtyEightOdds = new();
	private string Champion = "";
	private string StatOption = "Mathmatical";
	private bool HideAlert = true;
	private string AlertMessage = "";
	private StatsServiceW StatsService = new();
	private TourneyMatchupW MatchupService = new();

	private async void AutoFill(){
		HideAlert = true;
		var rand = new Random();
		foreach(var regionalMatchup in RegionalMatchupGroups){
			foreach(var regional in regionalMatchup.RegionalMatchupDetails.RegionalMatchups){
				var x = await GetXFactor(regional.Matchup);
				var y = Math.Round(rand.NextDouble(),2);
				
				if(x>=y){
					Winner(regional.Matchup, 1);
				}else{
					Winner(regional.Matchup, 2);
				}
			}
		}
	}

	private async Task<double> GetXFactor(Matchup matchup){
		var Seed1 = matchup.Team1.Seed;
		var Seed2 = matchup.Team2.Seed;
		if(StatOption=="Mathmatical"){
			return Math.Round(((double)Seed2.GetValueOrDefault() / ((double)Seed1.GetValueOrDefault() + (double)Seed2.GetValueOrDefault())),2);
		} else if(StatOption=="Coin Flip"){
			return .50;
		} else if(StatOption=="Random"){
			return Math.Round(new Random().NextDouble(),2);
		} else if(StatOption=="538 Odds"){
			var Round = GetRound(matchup.NextMatchup);
			var Team1Name = FormatTeamName(matchup.Team1.Name);
			var Team2Name = FormatTeamName(matchup.Team2.Name);
			return Math.Round((FiveThirtyEightOdds.First(s => s.Id == Team1Name).Stats.First(x => x.Id == Round).Probability) 
				/ (FiveThirtyEightOdds.First(s => s.Id == Team1Name).Stats.First(x => x.Id == Round).Probability 
				+ FiveThirtyEightOdds.First(x => x.Id == Team2Name).Stats.First(x => x.Id == Round).Probability),2);
		} else {
			return HistoricalStats.First(s => s.Id == Convert.ToString(Seed1.GetValueOrDefault()))
				.Stats.First(x => x.Id == Seed2.GetValueOrDefault()).Probability;
		}
	}

	private int GetRound(int? NextMatchup){
		switch(NextMatchup){
			case int n when n >= 33 && n < 49:
				return 2;
			case int n when n >= 49 && n < 57:
				return 3;
			case int n when n >= 57 && n < 61:
				return 4;
			case int n when n >= 61 && n < 63:
				return 5;
			case int n when n == 63:
				return 6;
		}
		return 7;
	}
	
	private string FormatTeamName(string TeamName){
		return TeamName.Split('/')[0];
	}

	private void Winner(Matchup matchup, int team){
		var winningTeam = team==1? matchup.Team1: matchup.Team2;
		var regional = matchup.NextMatchup>60? 5: matchup.Regional;

		if(matchup.NextMatchup==0){
			Champion = winningTeam.Name;
		}else if(matchup.NextMatchupTeam==1){
			var m = RegionalMatchupGroups.First(t => t.Id == regional).RegionalMatchupDetails.RegionalMatchups.First(r => r.Id == matchup.NextMatchup).Matchup;
			if(!string.IsNullOrEmpty(m.Team1.Name) && m.Team1.Name != winningTeam.Name){
				RemoveTeam(m,1,m.Team1.Name);
			}
			m.Team1 = winningTeam;
		}else {
			var m = RegionalMatchupGroups.First(t => t.Id == regional).RegionalMatchupDetails.RegionalMatchups.First(r => r.Id == matchup.NextMatchup).Matchup;
			if(!string.IsNullOrEmpty(m.Team2.Name) && m.Team2.Name != winningTeam.Name){
				RemoveTeam(m,2,m.Team2.Name);
			}
			m.Team2 = winningTeam;			
		}
	}

	private void RemoveTeam(Matchup matchup, int team, string teamName){
		var regional = matchup.NextMatchup>60? 5: matchup.Regional;
		
		if(matchup.NextMatchup==0){
			Champion = "";
		}else if(matchup.NextMatchupTeam==1){
			var m = RegionalMatchupGroups.First(t => t.Id == regional).RegionalMatchupDetails.RegionalMatchups.First(r => r.Id == matchup.NextMatchup).Matchup;
			if(!string.IsNullOrEmpty(m.Team1.Name) && m.Team1.Name == teamName){
				m.Team1 = new Team(){};
				RemoveTeam(m,1,teamName);
			}
		}else {
			var m = RegionalMatchupGroups.First(t => t.Id == regional).RegionalMatchupDetails.RegionalMatchups.First(r => r.Id == matchup.NextMatchup).Matchup;
			if(!string.IsNullOrEmpty(m.Team2.Name) && m.Team2.Name == teamName){
				m.Team2 = new Team(){};
				RemoveTeam(m,2,teamName);
			}
		}
	}
	
	private void Clear(){
		foreach(var tourneyMatchup in RegionalMatchupGroups){
			foreach(var regionalMatchup in tourneyMatchup.RegionalMatchupDetails.RegionalMatchups.Where(r => r.Id > 32)){
				regionalMatchup.Matchup.Team1 = new Team(){};
				regionalMatchup.Matchup.Team2 = new Team(){};
			}
		}
		Champion = "";
		HideAlert = true;
	}

	private void StatOptionChanged(ChangeEventArgs e){
		StatOption = e.Value as string;
	}

	async Task<bool> RetrieveStats(){
		try{
			var statGroup = new StatGroup();
			var statGroupRs = await cache.GetCachedAsync(
											Constants.STATS_HISTORIC_W,
											() => JS.InvokeAsync<StatGroup>(
													Constants.FUNCTION_RETRIEVE_STATS,
													Constants.STATS_HISTORIC_W,
													statGroup
												).AsTask()
										);
			this.HistoricalStats = statGroupRs.StatDetails;
		}
		catch(Exception e){
			Console.Write(e);
		}
		try{
			var statGroup = new StatGroup();
			var statGroupRs = await cache.GetCachedAsync(
											Constants.STATS_538_W,
											() => JS.InvokeAsync<StatGroup>(
													Constants.FUNCTION_RETRIEVE_STATS,
													Constants.STATS_538_W,
													statGroup
												).AsTask()
										);
			this.FiveThirtyEightOdds = statGroupRs.StatDetails.OrderBy(s => s.Id).ToList();
		}
		catch(Exception e){
			Console.Write(e);
		}
		return true;
	}

	async Task<bool> RetrieveBracket(){
		try{
			var tourneyGroup = new TourneyGroup();
			var tourneyGroupRs = await JS.InvokeAsync<TourneyGroup>(Constants.FUNCTION_RETRIEVE_BRACKETS, Constants.BRACKET_WOMEN, tourneyGroup);
			this.RegionalMatchupGroups = tourneyGroupRs.RegionalMatchupGroups;
			Console.Write(this.RegionalMatchupGroups);
		}
		catch(Exception e){
			Console.Write(e);
		}
		return true;
	}

	protected override async Task OnInitializedAsync()
	{   
		await RetrieveStats();
		await RetrieveBracket();
	}
}