@page "/stats"

<PageTitle>Stats</PageTitle>

<div>
	<h1>Stats</h1>
	<p>The tables below share the stats used in the calculation of the winner when using Auto-Fill.</p>
	<p>The table provides the x value in the formula: x>=y where y is a random decimal between 0 and 1.</p>
</div>
<div class="stats-body">
	<div class-="mathmatical-stats">
		<h3>Mathmatical Stats Table</h3>
		<table class="stat-table">
			<thead>
				<tr>
					<th>Seeds</th>
					@for(int l = 1; l<=16; l++)
					{
						<td>@l</td>
					}
				</tr>
			</thead>
			<tbody>
				@{int k = 1;}
				@for(int j = 1; j<=16; j++){
					<tr>
						<th>@j</th>
						@for(k = 1; k <= 16; k++)
						{
							double x = Math.Round(((double)k / ((double)j + (double)k)),2);
							<td class='@(@j == k ? "highlight-cell" : "") '>@x</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
	<br/>
	<div class="historic-stats">
		<h3>Historical Men's Stats Table</h3>
		<table class="stat-table">
			<thead>
				<tr>
					<th>Seeds</th>
					@foreach(int seed in HistoricStats.Keys)
					{
						<td>@seed</td>
					}
				</tr>
			</thead>
			<tbody>
				@{int i = 1;}
				@foreach(int seed in HistoricStats.Keys){
					<tr>
						<th>@seed</th>
						@for(i = 1; i <= 16; i++)
						{
							<td class='@(@seed == i ? "highlight-cell" : "") '>@HistoricStats[@seed][i]</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
	<br/>
	<div class="historic-stats">
		<h3>Historical Women's Stats Table</h3>
		<table class="stat-table">
			<thead>
				<tr>
					<th>Seeds</th>
					@foreach(int seed in HistoricStatsW.Keys)
					{
						<td>@seed</td>
					}
				</tr>
			</thead>
			<tbody>
				@{int n = 1;}
				@foreach(int seed in HistoricStatsW.Keys){
					<tr>
						<th>@seed</th>
						@for(n = 1; n <= 16; n++)
						{
							<td class='@(@seed == n ? "highlight-cell" : "") '>@HistoricStatsW[@seed][n]</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
	<br/>
	<div class="fivethirtyeight-stats">
		<h3>Sporting News Men's Stats Table</h3>
		<table class="stat-table">
			<thead>
				<tr>
					<th>Team/Round</th>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
				</tr>
			</thead>
			<tbody>
				@{int m = 2;}
				@foreach(var Team in FiveThirtyEightOdds.Keys){
					<tr>
						<th>@Team</th>
						@for(m = 2; m <= 7; m++)
						{
							<td>@FiveThirtyEightOdds[@Team][m]</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
	<br/>
	<div class="fivethirtyeight-stats">
		<h3>Sporting News Women's Stats Table</h3>
		<table class="stat-table">
			<thead>
				<tr>
					<th>Team/Round</th>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
				</tr>
			</thead>
			<tbody>
				@{int o = 2;}
				@foreach(var Team in FiveThirtyEightOddsW.Keys){
					<tr>
						<th>@Team</th>
						@for(o = 2; o <= 7; o++)
						{
							<td>@FiveThirtyEightOddsW[@Team][o]</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@code 
{
	private Dictionary<int,Dictionary<int,double>> HistoricStats = new();
	private Dictionary<int,Dictionary<int,double>> HistoricStatsW = new();
	private Dictionary<string,Dictionary<int,double>> FiveThirtyEightOdds = new();
	private Dictionary<string,Dictionary<int,double>> FiveThirtyEightOddsW = new();
	private StatsService StatsService = new();
	private StatsServiceW StatsServiceW = new();
	
	protected override void OnInitialized()
	{   
		HistoricStats = StatsService.HistoricStats;
		HistoricStatsW = StatsServiceW.HistoricStats;
		FiveThirtyEightOdds = StatsService.FiveThirtyEightStats;
		FiveThirtyEightOddsW = StatsServiceW.FiveThirtyEightStats;
	}
}
